p a{
    color: rgb(146, 114, 55);
}

article {
    background-color: #eeeeee; 
    margin-bottom: 2rem;  
    border-radius: .35rem; 
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, 0.1);  
    margin: 5rem auto;
}   

img {
    width: 50rem;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    border-radius: .35rem; 
}

@media(min-width:50em){

p {
    width: 50rem;
    height: auto;
}


.container {
    margin: 10rem 0;
    display: flex;            
    overflow-x: auto;        
    scroll-snap-type: x mandatory;
    width: 97vw;       
}


.slide {
    display: flex;
    justify-content: space-between;
    flex: 0 0 60rem;
    scroll-snap-align: center; 
    box-sizing: border-box;
    padding: 1.5rem;
    margin: 5rem;
}

.container::-webkit-scrollbar {
    height: .5rem;              
}

.container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: .25rem;
}




}