/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
    font-family: "Raleway", sans-serif;
	font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.5rem;
	margin: 2rem;
}

p {
	margin: 1rem 1rem 2rem;
}


/* Links
--------------------------------------------- */
a {
	text-decoration: none;
    color: #ebebeb;
    padding:.3rem .5rem;
}

p a{
    color: rgb(142, 92, 0);
}

p a:hover {
    text-decoration: underline;
}

.site-nav li a { 
    text-decoration: none; 
    display: block; 
}

.site-nav li a:hover,
.site-nav li a:focus,
.site-nav li a:active {
    color: rgb(147, 118, 68);
}

article a {
    list-style-type: none;
}

.button a{
    color: rgb(48, 44, 38);
    font-weight: 500;
}
.button a:active,
.button a:hover,
.button a:focus {
    list-style-type: none;
    color: rgb(240, 240, 240);
    background-color: rgb(109, 93, 66);
    border-radius:.35rem ;
}

.footer-link {
    padding: .5rem;
    color: rgb(210, 210, 210);
}

footer a:active,
footer a:hover{
    list-style-type: none;
    text-decoration: underline;
}

@media(min-width:50em) {
    a {
        color: #181818;
        font-weight: 400;
    }

    #site-nav-list a:hover,
    #site-nav-list a:active,
    #site-nav-list a:focus {
        transform: translateY(-5px);
    }
}
/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
header {
    padding: .5rem;
    color: rgb(210, 210, 210);
}

.subpages-header{
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    text-align: center;
}


.subpages-header-img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    overflow: hidden;
}

.subpages-header h1 {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.site-logo-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.site-nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

}
.site-nav li {
	background-color: rgba(255, 255, 255, 0.1); 
    padding:0.5rem 1rem; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
}

.site-nav li:last-child {
    border-bottom: none; 
}

#site-nav-button {
    display: block;
    cursor: pointer;
    margin-right: 1rem;
}

#site-nav-button path {
    fill: #6e5939;
}
#site-nav-button path:hover,
#site-nav-button path:focus,
#site-nav-button path:active{
    fill: #454039;
}

#site-nav-list {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all .5s ease-in-out;
    padding: 0;
    margin: 5.2rem 0;
    
    
    
}

#site-nav-list.toggled {
    display: flex;
    flex-direction: column;
    
}





@media (min-width: 50em) {
    header {
        padding: 0;
        margin: 0;
    }

    .subpages-header h1 {
        font-size: 3rem; 
        top: 40%; 
    }

    .subpages-header h1 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .site-logo {
        width: 5rem;
        height: auto;
    }

    .site-nav li {
        border-style: none;
        padding: 0.5rem 1rem;
    }

    #site-nav-button {
        display: none;
    }

    #site-nav-list {
        display: flex;
        position: static;
        width: auto;
        z-index: auto;
        transition: none;
        margin: 0;
    }

    #site-nav-list li {
        font-size: 1.5rem; 
        background-color: rgb(234, 234, 234);

    }

    #site-nav-list a {
        padding: .5rem;
        margin: .5rem;
    }
    
    .site-logo-nav {
        display: flex;
        justify-content: space-between;
    }
   
    
}


/* Main
--------------------------------------------- */
main {
    padding: 1rem;
}
.site-header {
    position: relative;
}

section h1 {
    font-size: 3rem;
    position: absolute;
    top: 45%;
    left: 40%;
	transform: translate(-50%, -50%);
    text-align: center;
	color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.site-header-img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: .35rem; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.contact-form,
.site-section {
    margin: 7rem 0;
    padding: 1rem;
    background-color: #eeeeee; 
    margin-bottom: 2rem;  
    border-radius: .35rem; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
  
}

.site-img {
    width: 100%;
    height: 20rem;
}

video,
img {
    border-radius: .35rem; 
    object-fit: cover;
    overflow: hidden;
}

.button {
    border: solid rgb(147, 118, 68);
    width: fit-content;
    margin: 0 auto 0;
    border-radius:.35rem ;
}

.go-to-top-button {
    position: fixed; 
    bottom: 2rem;
    right: 2rem; 
    background-color: #e5e5e5;
    border-radius: 50%; 
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    z-index: 1000; 
}

.go-to-top-button a svg {
    width: 4rem; 
    height: 4rem;
    fill: #6e5939;
    transition: fill 0.2s ease;
}


.go-to-top-button a svg:focus,
.go-to-top-button a svg:active{
    fill: #bd9a66; 
}

.contact-form h2 {
    color: #775522;
}

.contact-form {
    text-align: center;
    margin-bottom: 5rem;
    min-width: 18rem;
    max-width: 30rem;
}

label {
    display: inline-block;
    text-align: center;
    min-width: 6rem;
}

.contact-form-button {
   margin-left: .5em;
   border-radius: 1rem;
}



@media(min-width: 50em){
    .contact-form {
        margin: 0 36rem;
        padding: 1rem;
    }


    section h1 {
        padding: 1rem;
        font-size: 4rem;
        top: 50%;
        left: 47%;
    }

    .site-header-img {
        width: 100%;
        height: 30rem;
    }

    .site-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
		grid-template-rows: auto;
		gap: .5rem;
		justify-content: center;
		align-content: center;
    }

    .site-grid article:first-of-type{
        grid-column: 2/3;
    }
    
    .site-section{
        margin-bottom: 4rem;
    }

    

}

/* Footer
--------------------------------------------- */
footer {
    background-color: rgb(58, 49, 37);
    color: rgb(227, 227, 227);
    border-top-left-radius:.35rem ;
    border-top-right-radius:.35rem ;
    
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin: 0 1 0;
    list-style-type: none;
    text-align: center;
}

footer svg path{
    fill: #ffffff;
}

footer svg {
    padding: .5rem;
}

.footer-icon {
    text-align: center;
    margin: 0;
}

footer p,
footer h3 {
    text-align: center;
    margin: .5rem;
}

footer p {
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
}




